{% extends "base.html" %}
{% block content %}
<div class="container marketing">
<hr class="featurette-divider">
<form action='/list' method='get'>
<button type="submit" class="btn btn-primary">List Albums</button>
</form>
<hr class="featurette-divider">
<form action='/new' method='post'>
<div class="form-group"><label for="albumName">Album Name</label><input type="text" class="form-control" name='albumname'> </div>  
<button type="submit" class="btn btn-primary">Create Album</button>
<hr class="featurette-divider">
{%endblock content %}
