{% extends "base.html" %}
{% block content %}

<div class="container marketing">
<hr class="featurette-divider">
<h2 align='center'>Album "{{album_name}}" </h2>
<hr class="featurette-divider">
<div class="row">
{% for item in items %}
<div class="col-xs-6 col-md-4 panel" align='center'><h4 >{{item.caption|slice:"40"}}</h4> 
 <p href='/show_image/{{item.key}}'> <img src='/thumbnail/{{item.key}}'> </p>           
 <p><form action='/show_image/{{item.key}}' method='get'><button type="submit" class="btn btn-info">Edit</button></form>	  
 <p><form action='/delete_image/{{item.key}}' method='get'><button type="submit" class="btn btn-danger">Remove</button></form></p> 
</div>	
{% endfor %}
</div>
<hr class="featurette-divider">
<form action='/updateReddit/{{album_key}}/none' method='post' >
<div class="form-group"><label for="inputSubreddit">Subbreddit to import:</label><input type="text" class="form-control" name='reddit_feed'> <button type="submit" class="btn btn-primary">Submit</button> </div>
</form>
<form action='/updateYoutube/{{album_key}}/none' method='post'>
<div class="form-group"><label for="inputYouTube">YouTube channel to import:</label><input type="text" class="form-control" name='youtube_feed'> <button type="submit" class="btn btn-primary">Submit</button> </div>
</form>
<hr class="featurette-divider">
<form action='/upload/{{album_key}}' method='post' enctype='multipart/form-data'>
<div class="form-group"><label for="inputTitle">Title</label><input type="text" class="form-control" name='title'> </div>
<div class="form-group"><label for="inputURL">URL</label><input type="text" class="form-control" name='url'> </div>
<div class="form-group"><label for="inputCaption">Caption</label><textarea type="text" class="form-control" name='caption'></textarea> </div>
<div class="form-group"><label for="inputComment">Comment</label><input type="text" class="form-control" name='comment'> </div>
<div class="form-group"><label for="inputBFile">Image File</label><input type="file" class="form-control" name='picfile'> </div>
<div class="form-group"><label for="inputAuthor">Author</label><input type="text" class="form-control" name='author'> </div>
<div class="form-group"><label for="inputIFrame">iFrame</label><textarea type="text" class="form-control" value="{{item.iFrame}}" name='iFrame'>{{item.iFrame}}</textarea> </div>
<div class="checkbox"><label><input type="checkbox" {% if item.ishtmlcontent %} checked {% endif %} value="true" name='ishtmlcontent'>Is HTML content</label></div>
<div class="checkbox"><label><input type="checkbox"  {% if item.isVideo  %} checked {% endif %}  value="true" name='isVideo'>Is Video</label></div>
<div class="checkbox"><label><input type="checkbox"  {% if item.hasIFrame  %} checked {% endif %}  value="true" name='hasIFrame'>Has IFrame</label></div>
<button type="submit" class="btn btn-primary">Upload Thing</button>
</form>
<hr class="featurette-divider">
<form action='/remove_all_album_images/{{album_key}}' method='get'>
<button type="submit" class="btn btn-danger">Delete All Album Pictures</button>
</form>
<hr class="featurette-divider">
<br><h1> <a href='/list'>Back to Albums</a></h1>
{% endblock content %}
<hr class="featurette-divider">
</div>
