<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="keywords" content="no3z productionz">
    <meta name="description" content="Website for no3z productionz.">
    <meta name="resource-type" content="Document">
    <meta name="document-state" content="Static">
    <meta name="document-class" content="Completed">
    <meta name="document-classification" content="Internet Services">
    <meta name="title" content="no3z productionz">
    <meta name="language" content="English">
    <meta name="author" content="no3z ">
    <meta name="robots" content="all">
    <meta name="document-rights" content="Public Domain">
    <meta name="document-type" content="Public">
    <meta name="document-rating" content="General">
    <meta name="document-distribution" content="Global">    
    <meta HTTP-EQUIV=Pragma content=cache>
    <link rel="icon" href="/media/favicon.ico">
    <title>no3z.com</title>    
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->    
    <link href="/media/css/carousel.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href="/media/css/addition.css" rel="stylesheet">
  </head>  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54450620-1', 'auto');
  ga('send', 'pageview');
  </script>	
  <body>
    <div class="navbar-wrapper">
    <div class="container">
     <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href='/'>no3z.com</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/video">Videos</a></li>
		<li><a href="/links">Links</a></li>
		<li><a href="/about">About</a></li>
              </ul>
            </div>
          </div>
     </div>
    </div>
   </div>   
   <div class='content'>{% block content %}{% endblock %}</div>   
   <div class="container marketing">
     <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; {% now "Y" %} no3z productionz</p>
     </footer>    
   </div><!-- /.container -->    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="/media/js/bootstrap.min.js"></script>
   <script src="/media/js/docs.min.js"></script>
  </body>
</html>
