{% extends "base.html" %}
{% block content %}
<div class="container marketing">
  <h2 align='center'>{{album.name}}</h2>
  <h6 align='center'>{{album.description}}</h6>
  {% for item in items %}
  <br><br><br>
  {% if forloop.counter == 1 %}
  <div class="jumbotron">
    <div class="col-md-5">
      <div class="thumbnail">
	<a href="/show_item/{{item.key}}">
	  <img class="featurette-image img-responsive" src="/image/{{item.key}}" alt="{{item.title}}" style="width: 500px; height: 281px;">
	</a>
      </div>
    </div>
    <h1><a href="/show_item/{{item.key}}">{{item.title}}</a></h1>
    <h5 class="text-muted">{{item.author}}</h5>
    <h6> {{ item.submitted_date }} </h6>
    <p><small>{{item.comment}}</small></p>
    <br><br><br><br>
  </div>

  {% else %}
  {% if forloop.counter|divisibleby:2 %}
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><a href="/show_item/{{item.key}}">{{item.title}}</a></h2>
      <h5 class="text-muted">{{item.author}}</h5>
      <h6> {{ item.submitted_date }} </h6>
      <p class="lead">{{item.comment}}</p>
    </div>
    <div class="col-md-5"> 
      <a href="/show_item/{{item.key}}">
	<img class="featurette-image img-responsive" src="/image/{{item.key}}" alt="{{item.title}}" style="width: 500px; height: 281px;">
      </a>
    </div>
  </div>
  {% else %}
  <div class="row featurette">
    <div class="col-md-5">
      <a href="/show_item/{{item.key}}">
	<img class="featurette-image img-responsive" src="/image/{{item.key}}" alt="{{item.title}}" style="width: 500px; height: 281px;">
      </a>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading"><a href="/show_item/{{item.key}}">{{item.title}}</a></h2>
      <h5 class="text-muted">{{item.author}}</h5>
      <h6> {{ item.submitted_date }} </h6>
      <p class="lead">{{item.comment}}</p>
    </div>
  </div>
  {% endif %} {% endif %}
  {% endfor %}
  <hr class="featurette-divider">
</div>
{% endblock content %}
