{% extends "base.html" %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/image/{{ latest1.key }}" alt="{{ latest1.title }}">
      <div class="container">
        <div class="carousel-caption">
          <h1><a href="/show_item/{{latest1.key}}">{{latest1.title}}</a></h1>
          <p><small>{{ latest1.comment }}</small></p>              
          <p><a class="btn btn-primary" href="/{{ latest1.album_name|lower }}" role="button">{{ latest1.album_name }} &raquo;</a></p>          
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/image/{{ latest2.key }}" alt="{{ latest2.title }}">
      <div class="container">
        <div class="carousel-caption">
          <h1><a href="/show_item/{{latest2.key}}">{{latest2.title}}</a></h1>
          <p>{{ latest2.comment }}</p>
          <p><a class="btn btn-primary" href="/{{ latest2.album_name|lower }}" role="button">{{ latest2.album_name }} &raquo;</a></p>          
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/image/{{ latest3.key }}" alt="{{ latest3.title }}">
      <div class="container">
        <div class="carousel-caption">
          <h1><a href="/show_item/{{latest3.key}}">{{latest3.title}}</a></h1>
          <p>{{ latest3.comment }}</p>
          <p><a class="btn btn-primary" href="/{{ latest3.album_name|lower }}" role="button">{{ latest3.album_name }} &raquo;</a></p>          
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
<div class="container marketing">
  <div class="row" align='center'>  
    <p align='left' ><a class="btn btn-warning" href="/projects" role="button">Projects &raquo;</a></p>          
    {% for item in project %}
    <div class="col-sm-4">
	<a href="/show_item/{{item.key}}">
	<img class="img-rounded" src="/thumbnail/{{ item.key }}" style="width: 192px; height: 108px;">
	</a>
	<div class="caption">
	  <h2><a href="/show_item/{{item.key}}">{{item.title}}</a></h2>
	  <p>{{ item.comment }}</p><br>
	</div>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
  </div><!-- /.row -->
</div>
<div class="container marketing">
  <div class="row" align='center'>  
    <hr class='divider'>
    <p align='left' ><a class="btn btn-danger" href="/video" role="button">Video &raquo;</a></p>          
    {% for item in video %}
    <div class="col-sm-4">
      <a href="/show_item/{{item.key}}">
	<img class="img-rounded" src="/thumbnail/{{ item.key }}" style="width: 192px; height: 108px;">
	</a>
      <div class="caption">
	<h2><a href="/show_item/{{item.key}}">{{item.title}}</a></h2>
	<p>{{ item.comment }}</p><br>
      </div>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
  </div><!-- /.row -->
</div>
<div class="container marketing">
  <div class="row" align='center'>  
    <hr class='divider'>
    <p align='left' ><a class="btn btn-success" href="/music" role="button">Music &raquo;</a></p>          
    {% for item in music %}
    <div class="col-sm-4">
	<a href="/show_item/{{item.key}}">
	  <img class="img-rounded" src="/thumbnail/{{ item.key }}" style="width: 192px; height: 108px;">
	</a>
	<div class="caption">
	  <h2><a href="/show_item/{{item.key}}">{{item.title}}</a></h2>
	  <p>{{ item.comment }}</p><br>
	</div>
    </div><!-- /.col-lg-4-->
    {% endfor %}
  </div><!-- /.row -->
</div>
<div class="container marketing">
  <div class="row" align='center'>  
    <hr class='divider'>
    <p align='left' ><a class="btn btn-default" href="/links" role="button">Links &raquo;</a></p>          
    {% for item in links %}
    <div class="col-sm-4">
      <a href="/show_item/{{item.key}}">
	<img class="img-rounded" src="/thumbnail/{{ item.key }}" style="width: 192px; height: 108px;">
      </a>
      <div class="caption">
	<h2><a href="/show_item/{{item.key}}">{{item.title}}</a></h2>
	<p>{{ item.comment }}</p><br>
      </div>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
  </div><!-- /.row -->
</div>
<div class="container marketing">
  <div class="row" align='center'>  
    <hr class='divider'>
    <p align='left' ><a class="btn btn-primary" href="/about" role="button">About &raquo;</a></p>          
    {% for item in about %}
    <div class="col-sm-4">
      <a href="/show_item/{{item.key}}">
	<img class="img-rounded" src="/thumbnail/{{ item.key }}" style="width: 192px; height: 108px;">
      </a>
      <div class="caption">
	<h2><a href="/show_item/{{item.key}}">{{item.title}}</a></h2>
	<p>{{ item.comment }}</p><br>
      </div>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
  </div><!-- /.row -->
</div>
<hr class='featurette-divider'>
{% endblock content %}
