{% extends "base.html" %}
{% block content %}   
<div class="container marketing">
  <hr class="featurette-divider">
  <div class="row">
{% for album in albums %}
    <div class="col-md-6 col-lg-3">
      <h2>{{album.name}} <span class="small">{{album.creator.nickname}}</span></h2><br>         
      <p><form action='/album/{{album.key}}' method='get'>
	<button type="submit" class="btn btn-info">Edit Album</button>
      </form></p> 	  
      <p> <form action='/remove_album/{{album.key}}' method='get'>
	<button type="submit" class="btn btn-danger">Remove album</button>
      </form></p> 
    </div>	
{% endfor %}
  </div>
  <hr class="featurette-divider">
    <p> <form action='/new' method='get'>
      <button type="submit" class="btn btn-success">Create album</button>
    </form></p> 
  <hr class="featurette-divider"> 
</div>
{% endblock %}