{% extends "base.html" %}
{% block content %}
<div class="container marketing">
<hr class="featurette-divider">
<form action='/update/{{item.key}}' method='post' enctype='multipart/form-data'> 
<h1><div class='itemtitle'> {{item.title}} </div><br></h1>
<div class="row"><div class='itemview'><img src='/image/{{image_key}}'> </div>
<div class="form-group"><label for="inputTitle">Title</label><input type="text" class="form-control" name='title' value="{{item.title}}"></div>  
<div class="form-group"><label for="inputURL">URL</label><input type="text" class="form-control" name='url' value="{{item.url}}"> </div>
<div class="form-group"><label for="inputCaption">Caption</label><textarea type="text" class="form-control" value="{{item.caption}}" name='caption'>{{item.caption}}</textarea> </div>
<div class="form-group"><label for="inputComment">Comment</label><input type="text" class="form-control" value="{{item.comment}}" name='comment'> </div>
<div class="form-group"><label for="inputBFile">Image File</label><input type="file" class="form-control" value="{{item.itemfile}}"  name='itemfile'> </div>
<div class="form-group"><label for="inputAuthor">Author</label><input type="text" class="form-control" value="{{item.author}}" name='author'> </div>
<div class="form-group"><label for="albumName">AlbumName</label><input type="text" class="form-control" value="{{item.album_name}}" name='album_name'> </div>
<div class="form-group"><label for="inputIFrame">iFrame</label><textarea type="text" class="form-control" value="{{item.iFrame}}" name='iFrame'>{{item.iFrame}}</textarea> </div>
<div class="checkbox"><label><input type="checkbox" {% if item.ishtmlcontent %} checked {% endif %} value="true" name='ishtmlcontent'>Is HTML content</label></div>
<div class="checkbox"><label><input type="checkbox"  {% if item.isVideo  %} checked {% endif %}  value="true" name='isVideo'>Is Video</label></div>
<div class="checkbox"><label><input type="checkbox"  {% if item.hasIFrame  %} checked {% endif %}  value="true" name='hasIFrame'>Has IFrame</label></div>
<button type="submit" class="btn btn-primary">Upload changes</button></form>
 
<p> <form action='/feature_item/{{item.key}}' method='get'>
<button type="submit" class="btn btn-warning">Feature Item</button>
</form></p> 

<hr class="featurette-divider"><div class='formrow'> <a href='/album/{{album.key}}'>Back to albums</a> </div></a><hr class="featurette-divider"></div></div>
{% endblock %}
