{% extends "base.html" %}
{% block content %}
<div class="container marketing">
  {% if item.ishtmlcontent %}
  {{ item.caption|safe }}  
  {% else %}
  <div class="blog-header" align='center'>
    <h1 class="blog-title">{{item.album_name}}</h1>
    <p class="lead blog-description">The no3z archive.</p>
  </div>
  <div class="container-fluid" align='center'>
    <img class="img-circle"   src="/image/{{item.key}}" alt="{{item.title}}" style="width: 160px; height: 90px;">
  </div>
  {% if item.isVideo %}
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{item.url}}"></iframe>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 blog-main">     
      <div class="blog-post">
        <h2 class="blog-post-title">{{item.title}}</h2>
        <p class="blog-post-meta">{{item.submitted_date}} <a>{{item.author}}</a></p>
	{{ item.caption|safe }}  
	<br><br><br>
	{% if item.hasIFrame %}
	{{item.iFrame|safe}}
	{% endif %}
	<p><a class="btn  btn-primary" href="{{ item.url }}" role="button">Visit {{ item.title }} &raquo;</a></p>          
      </div>
    </div>
  </div>
  <hr class="divider">
  <p><a class="btn  btn-warning" href="/{{ item.album_name|lower }}" role="button">Back to {{ item.album_name }} &raquo;</a></p>          
</div>
{% endif %}
{% endblock %}
