{% extends "base.html" %}
{% block content %}

<div class="container marketing">
<hr class="featurette-divider">
  
<h1>Terms</h1>
<h3><p>
This website is made on free software, use it as you wish. <br>
Some content is aggregated from external sources.<br>
No responsabilities are derivated from the content shown from these other sources.<br>
Do not do harmful things to it. pretty please. <br>
Have a nice day, be good, be wise, be strong.<br><br>
no3productionz!
</p></h3>
<hr class="featurette-divider">
<div class="row">
  <div class="col-md-6 col-lg-3">
    <p><img src="/media/images/gae.png"></p>
  </div>
  <div class="col-md-6 col-lg-3">
    <p><img src="/media/images/bootstrap.png"></p>
  </div>	
  <div class="col-md-6 col-lg-3">
    <p><img src="/media/images/python.png"></p>
  </div>
</div>
<hr class="featurette-divider">
<br><h1> <a href='/'>Back to portal.</a></h1>
<hr class="featurette-divider">
</div>
{% endblock content %}